.artists-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.artist-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.artist-card img {
    max-width: 100%;
    height: auto;
}

/* Classe aplicada amb ngClass */
.highlight {
    background-color: #f0f8ff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
